/vendor
/node_modules
/_notes
*dwsync.xml
.env
.local.env
.production.env
.env*
composer.phar
composer.lock
.DS_Store
Thumbs.db
sftp-config.json
/public/sass/.sass-cache
**/.sass-cache/*
**.sass-cache**
.sass-cache
.sass-cache/*
/public/config.codekit
*config.codekit